$fade-purple: #444cf750;

.controls-panel {
  padding: 1rem 1.2rem;
  width: 15vw;
  display: flex;
  justify-content: start;
  background-color: #efefef70;
  border-bottom: 1px solid $fade-purple;
  border-left: 1px solid #000000;
}
