$fade-purple: #444cf750;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

#root {
  height: 100vh;
  display: flex;
  overflow: hidden;

  .input-output {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    .input-area,
    .output-area {
      textarea {
        height: 190px;
        width: 75%;
        background-color: #ffffff;
      }
    }
  }
}
